*{
    font-family: cursive;
}
.container{
    border: 2px solid black;
    width: 40%;
    height: 350px;
    margin-left: 27%;
    margin-top: 10%;
    border-radius: 5px;
    background: linear-gradient(rgb(34, 75, 47),rgb(124, 70, 67),rgb(43, 41, 78),rgb(102, 54, 100));
}
.h2{
    text-align: center;
    text-decoration: underline;
}
.msg{
    margin-left: 30%;
    height: 28px;
}
.all{
    margin-left: 16.2%;
    margin-top: 2%;
    height: 28px;
}
.xyz{
    margin-left: 15.6%;
    margin-top: 2%;
    height: 28px;
}
.msgs{
    margin-left: 3%;
    margin-top: 2%;
    height: 28px;
}
button{
    margin-top: 10%;
    margin-left: 65%;
    font-size: 15px;
}


